body {
  background-color: #8C92AC;
  text-align: center;
  color: #F1ECF7;
}

@media(min-width: 375px) {
  .wrapper {
    margin-top: 10rem;
  }
}

header {
  padding: 2rem 0;
}

.message {
  padding: 0 4rem;
}

.submit {
  background-color: #FBC360;
  color: #78767a;
}

.gridDiv {
  display: grid;
}

.infoDiv {
  margin-bottom: 0.5rem;
}