body {
  background-color: #8C92AC;
  text-align: center;
  color: #F1ECF7;
}

header {
  padding: 2.5rem 0;
}

.message {
  padding: 0 4rem;
}

.submit {
  background-color: #FBC360;
  color: black;
}

.gridDiv {
  display: grid;
}

.infoDiv {
  margin-bottom: 0.5rem;
}